Dokumenter/~$av til løsning.docx
*.tmp
Dokumenter/~$er stories.docx
Dokumenter/~$D for login.docx
applicationhost.config
BudgetManagerXame.csproj.CoreCompileInputs.cache
DesignTimeResolveAssemblyReferencesInput.cache