@model BudgetManagerXame.Models.Budget

@{
    ViewBag.Title = "Choose Firm";
}

<div class="row">
    @foreach (var item in Model.firmList)
    {
        <div class="col-lg-3">
            <p>@item.Key</p>
            <p>@item.Value</p>
        </div>
    }
</div>