body {
}

.Login-btn {
    background-color: #9bae07; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
    position: relative;
}

    .Login-btn:hover {
        background-color: #8b9c06;
        color: white;
        text-decoration: none;
    }

.my_login_col {
    text-align: center;
}

.navbar-brand {
    font-size: 30px;
    color: white;
    font-family: Ebrima;
    margin-left: -30px;
}

    .navbar-brand:hover {
        font-size: 30px;
        color: #f2f2f2;
    }


.navbar-header {
    margin-left: 20%;
}

.nav {
    background: #9bae07 url(/Content/toppattern2.png);
}

.Firm-btn {
    margin-top: 30px;
    background-color: #9bae07; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
    position: relative;
}

    .Firm-btn:hover {
        background-color: #8b9c06;
        color: white;
        text-decoration: none;
    }

.Dropdown_Month {
    margin-top: 30px;
}

.dropdown {
    margin-left: 15px;
    width: 250px;
    height: 30px;
}

.my-btn {
    background-color: #9bae07;
    color: white;
    text-decoration: none;
}

    .my-btn:hover {
        background-color: #8b9c06;
        color: white;
        text-decoration: none;
    }
.head {
    width: 75px;
    text-align: center;
}
.head-cat {
    width: 175px;
}
.container-fluid{
    margin-left: 50px;
    margin-right:50px;
}
.my-border-row {
    border-bottom: solid 2px #9bae07;
}
.my-border-div {
    border-right: solid 1px #9bae07;
    height: 30px;
    margin-top: -8px;
    padding-top: 8px;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.table-bordered{
    margin-top:20px;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 2px solid #9bae07;
}
    .table-bordered > tr > .head {
        text-align: center;
    }