@model BudgetManagerXame.Models.XenaData
@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class=" col-lg-3">
        <h2>@ViewBag.Message</h2>
    </div>
    @Html.DisplayFor(model => model.Fis_ID)
</div>
