@model BudgetManagerXame.Models.XenaData
@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class=" col-lg-4">

    </div>
    <div class="my_login_col col-lg-4">
        <h3>
            Velkommen til <b>din</b> Budgetmanager! <br />
            
        </h3>
        @Html.ActionLink("Login", "RunLogin", "Home", new { @class = "Login-btn" })
    </div>
    <div class=" col-lg-4">

    </div>

</div>
